@font-face {
    font-family: 'BPreplay';
    src: url('../../font/BPreplay/BPreplay-webfont.eot');
    src: url('../../font/BPreplay/BPreplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/BPreplay/BPreplay-webfont.woff2') format('woff2'),
         url('../../font/BPreplay/BPreplay-webfont.woff') format('woff'),
         url('../../font/BPreplay/BPreplay-webfont.ttf') format('truetype'),
         url('../../font/BPreplay/BPreplay-webfont.svg#bpreplayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
