@font-face {
    font-family: 'ObelixProRegular';
    src: url('../../font/ObelixPro/ObelixPro-cyr-webfont.eot');
    src: url('../../font/ObelixPro/ObelixPro-cyr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/ObelixPro/ObelixPro-cyr-webfont.woff2') format('woff2'),
         url('../../font/ObelixPro/ObelixPro-cyr-webfont.woff') format('woff'),
         url('../../font/ObelixPro/ObelixPro-cyr-webfont.ttf') format('truetype'),
         url('../../font/ObelixPro/ObelixPro-cyr-webfont.svg#obelixproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
